.demo-click {
    padding: 30px 5%;
}
.click-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 0 50px;
}
.click-detail image {
    width: 50%;
    height: 180px;
}
.click-detail .detail-content {
    font-size: 18px;
    line-height: 30px;
}
.detail-content p {
    display: block;
}
.click-purchase {
    display: flex;
    justify-content: space-between;
}
.click-purchase .purchase-btn {
    width: 48%;
    margin: 0;
    font-size: 16px;
}