
unsafe-perm = true
canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt
@terminus:registry=https://registry.npm.terminus.io
registry=https://registry.npm.taobao.org
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/