.event-exposure {
  padding-bottom: 30px;
}
.exposure-auto .auto-title {
  font-size: 20px;
  padding: 15px 2% 10px;
}
.swiper {
  width: 100%;
  height: 211px;
}
.swiper image {
  width: 100%;
  height: 100%;
}
.exposure-manual .manual-title{
  font-size: 20px;
  padding: 15px 2% 0;
}
.exposure-grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
.exposure-grid-item-vt {
  width: 45%;
  -webkit-box-shadow: #ccc 0px 0px 10px;
  -moz-box-shadow: #ccc 0px 0px 10px;
}
.grid-item-box {
  display: flex;
  flex-direction: column;
  padding: 5%;
  font-size: 14px;
}
.grid-item-box image {
  width: 100%;
  height: 180px;
  margin-bottom: 8px;
}
.grid-item-detail span:first-child{
  color: red;
}
.grid-item-detail span:last-child {
  color: #aaa;
  margin-left: 5px;
}